.estado {
  fill: lightgray;
  stroke: white;
}
.container{
  margin-top: 10vh;
  padding: 5rem;
}
/* .estado:hover{
  fill:#82c472;
  stroke: lightgray;
} */


/* CUESTIONARIOS */

.classQ1{
  fill: #C4D4A4;
}

.classQ1:hover{
  fill:#82c472;
  stroke: lightgray;
}


.classQ2{
  fill: #9BAE88;
}
.classQ2:hover{
  fill:#82c472;
  stroke: lightgray;
}




  /* MAPS */
#dosmil-20{
    display:show; 
}
  #dosmil-21{
  display:none; 
}
#dosmil-22{
  display:none; 
}
#dosmil-23{
  display:none; 
}
#dosmil-24{
  display:none; 
}
  /* BUTTON EFFECTS */
  #btnGroupDrop1{
    background-color: #82c472;
    border-color: azure;
    color: white;
  }

  #btnGroupDrop1:hover{
  background-color: azure;
  border-color: #82c472;
  color: black;
  transition: 0.1s;
}

